{{#if article }}
	<div class="position-relative">
		{{#if next }}
			<h3 class="h4">
				Up next
				<i class="fas fa-arrow-circle-right"></i>
			</h3>
		{{else}}
			<h3 class="h4">
				<i class="fas fa-arrow-circle-left"></i>
				Previous
			</h3>
		{{/if}}

		<p>
			<a
				class="stretched-link"
				href="{{ article.url }}">
				{{ article.data.pageTitle }}
			</a>
		</p>
	</div>
{{/if}}