@attribute [AllowAnonymous]
@attribute [Route(DashboardUrls.Account.Confirm.Successful)]

<DocTitle Title="Account confirmed"/>

<NarrowContainer>
	<H1>Account confirmed</H1>
	<P>
		Your account has been confirmed successfully. You can now <MudLink Href="@DashboardUrls.Account.Login">log in</MudLink>.
	</P>
</NarrowContainer>