@inject IOptions<SienarOptions> Options

<header class="px-4 py-3">
	<H5>@(Options.Value.SiteName)</H5>
	<AuthorizeView>
		<Authorized>
			Welcome, <Username/>!
		</Authorized>
	</AuthorizeView>
</header>