@using System.Web
@using H1 = Sienar.UI.Typography.H1
@inject NavigationManager NavManager

@if (_showMessage)
{
	<NarrowContainer>
		<H1>Unauthorized</H1>

		<MudText>
			You do not have permission to perform that action.
		</MudText>
	</NarrowContainer>
}

@code {

	[CascadingParameter]
	private Task<AuthenticationState> AuthState { get; set; } = default!;

	private bool _showMessage;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;

		if (!(await AuthState).IsAuthenticated())
		{
			var currentUri = NavManager.ToBaseRelativePath(NavManager.Uri);
			currentUri = HttpUtility.UrlEncode(currentUri);
			NavManager.NavigateTo($"/dashboard/account/login?returnUri=/{currentUri}", true);
			return;
		}

		_showMessage = true;
	}

}