@attribute [Route(DashboardUrls.Account.PersonalData)]

<DocTitle Title="Personal data"/>

<NarrowContainer>
	<Card Title="Personal data">
		<CardHeader>
			<Title>Personal data</Title>
		</CardHeader>

		<CardContent>
			By creating an account, you give us personal data that we store. You have the right to know what data we have. You also have the right to request that we delete your personal data.
		</CardContent>

		<CardActions>
			<Button
				Color="Color.Primary"
				href="/api/account/personal-data"
				target="_blank">
				Download personal data
			</Button>
		</CardActions>
	</Card>
</NarrowContainer>