@page "/"

<TabGroup
	Alignment="Alignment.Centered"
	Size="Size.Medium"
	TabStyle="TabStyle.Boxed">
	<Tab
		Title="Pictures"
		Icon="image">
		<p>Sorry, there are no pictures to display.</p>
	</Tab>
	<Tab
		Title="Music"
		Icon="music">
		<p>Sorry, there is no music to play.</p>
	</Tab>
	<Tab
		Title="Videos"
		icon="film">
		<p>Sorry, there are no videos to play.</p>
	</Tab>
	<Tab
		Title="Documents"
		Icon="file-alt">
		<p>Sorry, there are no documents to display.</p>
	</Tab>
</TabGroup>