@inherits SienarPage
@attribute [AllowAnonymous]
@attribute [Route(DashboardUrls.Account.Logout)]
@inject IHookableService<LogoutRequest> LogoutService
@inject NavigationManager NavManager

<DocTitle Title="Log out"/>

<NarrowContainer>
	<p>@_message</p>
</NarrowContainer>

@code {

	private string _message = "Logging you out. Please wait...";

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			_ = DoLogout();
		}
	}

	// This is extracted into a separate method because if the logic is awaited, one of two things happens: 1) if you don't manually call StateHasChanged(), the logout page never updates because it only renders once, or 2) if you do manually call StateHasChanged(), the rest of the UI seems to not respond to the logout event until you reload the page. By separating the logic into a separate method that is async but not awaited, 
	private async Task DoLogout()
	{
		if (await LogoutService.Execute(new()))
		{
			NavManager.NavigateTo(DashboardUrls.Account.Login);
		}
		else
		{
			_message = "We were unable to log you out.";
		}
	}

}