<footer class="bg-primary mt-5 p-4 text-white">
	<div class="container">
		<p class="small mb-0 text-center">
			&copy;2022 Christian LeVesque. This site's contents are published under the
			<a
				class="text-white"
				href="https://creativecommons.org/licenses/by/4.0/" 
				target="_blank" 
				rel="noreferrer">
				CC BY 4.0 license
			</a>.
		</p>
	</div>
</footer>