@using Sienar.Infrastructure.Articles
@using Sienar.State
@implements IDisposable
@inject IArticleSeriesProvider ArticleProvider

<div class="d-flex flex-row justify-space-between">
	<div>
		@if (_previous is not null)
		{
			<ArticleSeriesNavigationButton
				Descriptor="Previous"
				Article="_previous"/>
		}
	</div>
	<div>
		@if (_next is not null)
		{
			<ArticleSeriesNavigationButton
				Descriptor="Next"
				Article="_next"/>
		}
	</div>
</div>

@code {

	private Article? _next;
	private Article? _previous;
	private bool _disposed;

	[Inject]
	private ArticleSeriesStateProvider State { get; set; } = default!;

	/// <inheritdoc />
	protected override void OnInitialized()
	{
		State.OnChange += UpdateLinks;
	}

	private void UpdateLinks()
	{
		var series = ArticleProvider.Access(State.Series!);
		_next = series.GetNextArticle(State.CurrentRoute!);
		_previous = series.GetPreviousArticle(State.CurrentRoute!);
		StateHasChanged();
	}

	public void Dispose()
	{
		Dispose(true);
		GC.SuppressFinalize(this);
	}

	private void Dispose(bool disposing)
	{
		if (!disposing || _disposed) return;

		State.OnChange -= UpdateLinks;
	}

}