@attribute [AllowAnonymous]
@attribute [Route(DashboardUrls.Account.Logout)]
@inject IStatusService<LogoutRequest> LogoutService
@inject NavigationManager NavManager

<DocTitle Title="Log out"/>

<NarrowContainer>
	<p>We were unable to log you out.</p>
</NarrowContainer>

@code {

	/// <inheritdoc />
	protected override async Task OnInitializedAsync()
	{
		if ((await LogoutService.Execute(new())).Result)
		{
			NavManager.ForceReload(DashboardUrls.Account.Login);
		}
	}

}