@attribute [Route(DashboardUrls.Account.EmailChange.Requested)]

<DocTitle Title="Email change requested"/>

<NarrowContainer>
	<H1>Email change requested</H1>

	<P>
		We have received your request to update your email address. Please check your new email address for a confirmation email and click the confirmation link to complete your email address change.
	</P>
</NarrowContainer>