@using H1 = Sienar.UI.Typography.H1
@attribute [AllowAnonymous]
@attribute [Route(DashboardUrls.Account.Deleted)]

<DocTitle Title="Account deleted"/>

<NarrowContainer>
	<H1>Account deleted</H1>

	<MudText>
		Your account has been deleted. You can't recover your personal data any longer, but you can still <MudLink Href="@DashboardUrls.Account.Register.Index">register</MudLink> any time. We hope to see you again soon!
	</MudText>
</NarrowContainer>